<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <title>{{ title != '' ? title : 'SAMP Diamond Role Play - играй в GTA San Andreas по сети' }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <meta content="/assets/images/vklogo.png">
    <meta name="keywords" content="gta, san andreas по интернету, samp, youtube, diamondrp.ru, diamond rp, multiplayer, drp">
    <meta name="description" content="Лучший проект GTA San Andreas Multiplayer, чтобы начать играть в GTA SAMP по интернету"> <noscript>
        <meta http-equiv="refresh" content="0; URL=https://vk.com/diamond_rp"></noscript>
    <link href="/assets/bootstrap\css\bootstrap.min.css" rel="stylesheet">
    <link href="/assets/fonts\proxima\stylesheet.css" rel="stylesheet">
    <link href="/assets/css\animate.css" rel="stylesheet">
    <link href="/assets/css\reset.css" rel="stylesheet">
    <link href="/assets/css\style.css?04042020220816" rel="stylesheet">
    <link href="/assets/css/responsive.css" rel="stylesheet">
    <link href="/assets/css\dd.css" rel="stylesheet">
    <link href="/assets/css\tippy.css" rel="stylesheet">
    <link href="/assets/css\style-less.css?28052020192218" rel="stylesheet">
    <link href="/assets/css\btilliantcss.css?04042020220811" rel="stylesheet">
    <link href="/assets/css\jquery.scrollbar.css" rel="stylesheet">
    <link href="/assets/flipclock\flipclock.css" rel="stylesheet">
    <script src="/assets/js/jquery.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
</head>