
<div id="header">
    <div class="burger-menu" data-toggle="modal" data-target="#burgermainmenu" data-dismiss="modal">
        <div class="burger-click-region"> <span class="burger-menu-piece"></span> <span class="burger-menu-piece"></span> <span class="burger-menu-piece"></span> </div>
    </div>
    <div class="container-fluid">
        <div class="row posrev">
            <div class="col-md-3"> <a href="/" class="logo"><img src="/images/logo_all.svg" title="Главная страница" width="268"></a> </div>
            <div class="col-md-9">
                <ul class="main-menu">
                    <li> <a href="/news/view"><img src="/images/mi-news.svg"> Новости</a> </li>
                    <li> <a href="http://forum.diamondrp.ru" target="_blank"><img src="/images/mi-forum.svg"> Форум</a> </li>
                    <li> <a href="/cabinet/login"><img src="/images/mi-userroom.svg"> Личный&nbsp;кабинет</a> </li>
                    <li> <a href="/players/online"><img src="/images/mi-gamers.svg"> Игроки</a> </li>
                    <li> <a href="/donate/vip"><img src="/images/vip.svg" alt=""> VIP</a> </li>
                    <li> <a href="/donate"><img src="/images/mi-donate.svg"> Донат</a> </li>
                    <li> <a href="/launcher"><img src="/images/mi-how.svg"> Как&nbsp;начать&nbsp;играть</a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>