<div id="servers">
        <div class="container-fluid fleex">
            <ul class="servers">
                <li class="emerald"> <a>
                        <div class="s-name"><i class="s-ico"></i>
                            <p>Emerald<br /><small>592 / 1000</small></p>
                        </div>
                        <div class="progress-wrap"><i style="width: 59.2%"></i></div> <i class="copy-server" data-clipboard-text="emerald.diamondrp.ru:7777">emerald.diamondrp.ru:7777</i>
                    </a> </li>
                <li class="trilliant"> <a>
                        <div class="s-name"><i class="s-ico"></i>
                            <p>Trilliant<br /><small>470 / 1000</small></p>
                        </div>
                        <div class="progress-wrap"><i style="width: 47%"></i></div> <i class="copy-server" data-clipboard-text="trilliant.diamondrp.ru:7777">trilliant.diamondrp.ru:7777</i>
                    </a> </li>
                <li class="crystal"> <a>
                        <div class="s-name"><i class="s-ico"></i>
                            <p>Crystal<br /><small>445 / 1000</small></p>
                        </div>
                        <div class="progress-wrap"><i style="width: 44.5%"></i></div> <i class="copy-server" data-clipboard-text="crystal.diamondrp.ru:7777">crystal.diamondrp.ru:7777</i>
                    </a> </li>
                <li class="sapphire"> <a>
                        <div class="s-name"><i class="s-ico"></i>
                            <p>Sapphire<br /><small>521 / 1000</small></p>
                        </div>
                        <div class="progress-wrap"><i style="width: 52.1%"></i></div> <i class="copy-server" data-clipboard-text="sapphire.diamondrp.ru:7777">sapphire.diamondrp.ru:7777</i>
                    </a> </li>
                <li class="amber"> <a>
                        <div class="s-name"><i class="s-ico"></i>
                            <p>Amber<br /><small>596 / 1000</small></p>
                        </div>
                        <div class="progress-wrap"><i style="width: 59.6%"></i></div> <i class="copy-server" data-clipboard-text="amber.diamondrp.ru:7777">amber.diamondrp.ru:7777</i>
                    </a> </li>
                <li class="ruby"> <a>
                        <div class="s-name"><i class="s-ico"></i>
                            <p>Ruby<br /><small>594 / 1000</small></p>
                        </div>
                        <div class="progress-wrap"><i style="width: 59.4%"></i></div> <i class="copy-server" data-clipboard-text="ruby.diamondrp.ru:7777">ruby.diamondrp.ru:7777</i>
                    </a> </li>
                <li class="gold"> <a>
                        <div class="s-name"><i class="s-ico"></i>
                            <p>Gold<br /><small>656 / 1000</small></p>
                        </div>
                        <div class="progress-wrap"><i style="width: 65.6%"></i></div> <i class="copy-server" data-clipboard-text="gold.diamondrp.ru:7777">gold.diamondrp.ru:7777</i>
                    </a> </li>
            </ul>
        </div>
    </div><a class="button-servers" data-toggle="modal" data-target="#serverlist" href="#">Список серверов</a>