<!DOCTYPE html>
<html lang="ru-RU">

<head>
    <meta charset="UTF-8">
    <title>SAMP Diamond Role Play - играй в GTA San Andreas по сети</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <meta content="/images/vklogo.png">
    <meta name="keywords" content="gta, san andreas по интернету, samp, youtube, diamondrp.ru, diamond rp, multiplayer, drp">
    <meta name="description" content="Лучший проект GTA San Andreas Multiplayer, чтобы начать играть в GTA SAMP по интернету"> <noscript>
        <meta http-equiv="refresh" content="0; URL=https://vk.com/diamond_rp"></noscript>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/fonts/proxima/stylesheet.css" rel="stylesheet">
    <link href="/assets/css/animate.css" rel="stylesheet">
    <link href="/assets/css/reset.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/responsive.css" rel="stylesheet">
    <link href="/assets/css/dd.css" rel="stylesheet">
    <link href="/assets/css/tippy.css" rel="stylesheet">
    <link href="/assets/css/style-less.css" rel="stylesheet">
    <link href="/assets/css/btilliantcss.css" rel="stylesheet">
    <link href="/assets/css/jquery.scrollbar.css" rel="stylesheet">
    <link href="/assets/css/flipclock.css" rel="stylesheet">
    <script src="/assets/js/jquery.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
</head>

<body class='homepage new2020'>
    {{ header }}
    <div id="content" class="howgogame">
        <div class="container-fluid fleex">
            <div class="row">
                <div class="col-md-6 col-md-offset-6 col-mega">
                    <div id="sizePage">
                        <div>
                            <p class="large-text ml12">Выбери свой путь, <br>будь кем угодно и где угодно!</p>
                            <p class="large-desc">Присоединяйся к нам, нас сейчас онлайн: <span><img src="images/user-online.svg" width="16" alt=""> 3874</span></p> <a href="/launcher" class="main-button gobut">Играть в один клик <img src="images/arrow-right-dark.svg" width="30" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <noindex><a href="/main/contacts" rel="nofollow" class="contact-url">Контакты</a></noindex>
    <div id="man"><i></i></div>
    {{ servers }}
    <div id="burgermainmenu" data-keyboard="false" data-backdrop="static" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content textcenter">
                <ul class="main-menu modaling">
                    <li> <a href="/news/view"><img src="/images/mi-news.svg" alt=""> Новости</a> </li>
                    <li> <a href="http://forum.diamondrp.ru" target="_blank"><img src="/images/mi-forum.svg" alt=""> Форум</a> </li>
                    <li> <a href="/cabinet/login"><img src="/images/mi-userroom.svg" alt=""> Личный кабинет</a> </li>
                    <li> <a href="/players/online"><img src="/images/mi-gamers.svg" alt=""> Игроки</a> </li>
                    <li> <a href="/donate/vip"><img src="/images/vip.svg" alt=""> VIP</a> </li>
                    <li> <a href="/donate"><img src="/images/mi-donate.svg" alt=""> Донат</a> </li>
                    <li> <a href="/launcher"><img src="/images/mi-how.svg" alt=""> Как начать играть</a> </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="serversmodal"> <i class="closethis"></i>
        <ul class="servers modaling">
            <li class="emerald"> <a>
                    <div class="s-name"><i class="s-ico"></i>
                        <p>Emerald<br /><small>592 / 1000</small></p>
                    </div>
                    <div class="progress-wrap"><i style="width: 59.2%"></i></div> <i class="copy-server" data-clipboard-text="emerald.diamondrp.ru:7777">emerald.diamondrp.ru:7777</i>
                </a> </li>
            <li class="trilliant"> <a>
                    <div class="s-name"><i class="s-ico"></i>
                        <p>Trilliant<br /><small>470 / 1000</small></p>
                    </div>
                    <div class="progress-wrap"><i style="width: 47%"></i></div> <i class="copy-server" data-clipboard-text="trilliant.diamondrp.ru:7777">trilliant.diamondrp.ru:7777</i>
                </a> </li>
            <li class="crystal"> <a>
                    <div class="s-name"><i class="s-ico"></i>
                        <p>Crystal<br /><small>445 / 1000</small></p>
                    </div>
                    <div class="progress-wrap"><i style="width: 44.5%"></i></div> <i class="copy-server" data-clipboard-text="crystal.diamondrp.ru:7777">crystal.diamondrp.ru:7777</i>
                </a> </li>
            <li class="sapphire"> <a>
                    <div class="s-name"><i class="s-ico"></i>
                        <p>Sapphire<br /><small>521 / 1000</small></p>
                    </div>
                    <div class="progress-wrap"><i style="width: 52.1%"></i></div> <i class="copy-server" data-clipboard-text="sapphire.diamondrp.ru:7777">sapphire.diamondrp.ru:7777</i>
                </a> </li>
            <li class="amber"> <a>
                    <div class="s-name"><i class="s-ico"></i>
                        <p>Amber<br /><small>596 / 1000</small></p>
                    </div>
                    <div class="progress-wrap"><i style="width: 59.6%"></i></div> <i class="copy-server" data-clipboard-text="amber.diamondrp.ru:7777">amber.diamondrp.ru:7777</i>
                </a> </li>
            <li class="ruby"> <a>
                    <div class="s-name"><i class="s-ico"></i>
                        <p>Ruby<br /><small>594 / 1000</small></p>
                    </div>
                    <div class="progress-wrap"><i style="width: 59.4%"></i></div> <i class="copy-server" data-clipboard-text="ruby.diamondrp.ru:7777">ruby.diamondrp.ru:7777</i>
                </a> </li>
            <li class="gold"> <a>
                    <div class="s-name"><i class="s-ico"></i>
                        <p>Gold<br /><small>656 / 1000</small></p>
                    </div>
                    <div class="progress-wrap"><i style="width: 65.6%"></i></div> <i class="copy-server" data-clipboard-text="gold.diamondrp.ru:7777">gold.diamondrp.ru:7777</i>
                </a> </li>
        </ul>
    </div>
    <script src="/owl/owl.carousel.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/anime.min.js"></script>
    <script src="/js/jquery.toTop.min.js"></script>
    <script src="/js/jquery.dd.min.js"></script>
    <script src="/js/clipboard.min.js"></script>
    <script src="/js/jquery.scrollbar.min.js"></script>
    <script src="/js/script.js?28052020210218"></script>
    <script src="/js/script_all.js"></script>
    <script>
        let man = document.documentElement.querySelector('#man');
        setInterval(() => {
            if (man.classList.contains('on-3')) {
                man.classList.remove('on-3');
            } else if (man.classList.contains('on-2')) {
                man.classList.remove('on-2');
                man.classList.add('on-3');
            } else {
                man.classList.add('on-2');
            }
        }, 3000);
    </script>
    <script type="text/javascript">
        (function(m, e, t, r, i, k, a) {
            m[i] = m[i] || function() {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
        ym(43262034, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true
        });
    </script> <noscript>
        <div><img src="https://mc.yandex.ru/watch/43262034" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
</body>

</html>