{{ head }}

<body class='homepage new2020'>
    {{ header }}
    <div id="content" class="howgogame">
        <div class="container-fluid fleex">
            <div class="row">
                <div class="col-md-6 col-md-offset-6 col-mega">
                    <div id="sizePage">
                        <div>
                            <p class="large-text ml12">Выбери свой путь, <br>будь кем угодно и где угодно!</p>
                            <p class="large-desc">Присоединяйся к нам, нас сейчас онлайн: <span><img src="images/user-online.svg" width="16" alt=""> 3874</span></p> <a href="/launcher" class="main-button gobut">Играть в один клик <img src="images/arrow-right-dark.svg" width="30" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <noindex><a href="/main/contacts" rel="nofollow" class="contact-url">Контакты</a></noindex>
    <div id="man"><i></i></div>
    {{ servers }}
    {{ serversmodal }}
    <script src="/assets/owl/owl.carousel.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/anime.min.js"></script>
    <script src="/assets/js/jquery.toTop.min.js"></script>
    <script src="/assets/js/jquery.dd.min.js"></script>
    <script src="/assets/js/clipboard.min.js"></script>
    <script src="/assets/js/jquery.scrollbar.min.js"></script>
    <script src="/assets/js/script.js?28052020210218"></script>
    <script src="/assets/js/script_all.js"></script>
    <script>
        let man = document.documentElement.querySelector('#man');
        setInterval(() => {
            if (man.classList.contains('on-3')) {
                man.classList.remove('on-3');
            } else if (man.classList.contains('on-2')) {
                man.classList.remove('on-2');
                man.classList.add('on-3');
            } else {
                man.classList.add('on-2');
            }
        }, 3000);
    </script>
</body>

</html>