{{ head }}
<body class="howgame">
    {{ header }}
    <div class="howcontent">
        <div class="howtitle">Как начать играть?</div>
        <div class="how-enter-wrapper">
            <div class="howwhitebox">
                <p><strong>С лаунчером</strong></p>
                <p class="howtext">Добавь красок в свою игру. <nobr>Тебя ждут</nobr> новые модели автомобилей, проработанные текстуры и дополнительные возможности.</p>
                <a href="/assets//launcher/download/client/323030313a3637633a326262383a376139313a353439643a356362623a663933303a38326662">
                    <button class="main-button gobut downloadbuttonhow">Скачать лаунчер <img src="/assets/images\how-download.svg" alt="" /></button>
                </a>
            </div>
            <div class="howwhitebox two">
                <p><strong>Без лаунчера</strong></p>
                <p class="howtext">Ты фанат GTA San Andreas в ее первозданном виде и не любишь никаких изменений? Тогда скачивай GTA без дополнений <nobr>и наслаждайся</nobr> игрой!</p>
                <a href="https://drpdev.ru/files/GTASAMPSetup.exe">
                    <button class="main-button gobut downloadbuttonhow">Скачать игру <img src="/assets/images\how-download.svg" alt="" /></button>
                </a>
            </div>
            <i>
                <span class="head1"><img src="/assets/images\howgame\head1.png" alt="" /></span>
                <span class="head2"><img src="/assets/images\howgame\head2.png" alt="" /></span>
                <img src="/assets/images\howgame\howart.png" alt="" />
            </i>
        </div>
    </div>
    {{ serversmodal }}
    <script src="/assets/owl\owl.carousel.min.js"></script>
    <script src="/assets/bootstrap\js\bootstrap.min.js"></script>
    <script src="/assets/js\anime.min.js"></script>
    <script src="/assets/js\jquery.toTop.min.js"></script>
    <script src="/assets/js\jquery.dd.min.js"></script>
    <script src="/assets/js\clipboard.min.js"></script>
    <script src="/assets/js\jquery.scrollbar.min.js"></script>
    <script src="/assets/js\script.js"></script>
    <script src="/assets/js\script_all.js"></script>
</body>
</html>
